<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span>Come on, be tellin' us ye secrets</span>
    </h2>
    <span flex></span>

  </div>
</md-toolbar>

<md-whiteframe class="md-whiteframe-3dp" layout-padding>
  <h3>Welcome to th' scurvy pirate box!!</h3>
  <md-content layout="row">
    <div flex>

    </div>
    <md-button class="md-raised" layout-padding aria-label="Share" ng-click="go('/upload')">
      <md-icon class="material-icons">cloud_upload</md-icon> &nbsp;Be sharin'
    </md-button>
    <div flex>
      
    </div>
  </md-content>
  <p>
    Arrrrggggh!! Here ye be able to shout some thin' 'n share ye paintin' to th' whole crew! Just push th' button that says 'Be sharin' above. Do not forget to be tellin' us whar ye be hidden th' treasure maty! Oh, 'n no need to be one 'o them pesky drabs!
    Keep it spit 'n shine! Or I gunna find ye 'n sword me pegleg whar th' sun don't shine. Be threatened, I be knowin' who ye be!

  </p>
</md-whiteframe>
