<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
      <span>A place to share what ever you want...</span>
    </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Share" ng-click="go('/upload')">
            Share
        </md-button>
    </div>
</md-toolbar>

<md-whiteframe class="md-whiteframe-3dp" layout-padding>
    <h3>Welcome!!</h3>
    <p>
        Welcome to Swyser's very own pirate box! Booya!
        Here you will be able to upload photos and share messages as you see fit. Click the share button at the top or go to the menu on the left to view the photos and messages already posted by people. Please keep in mind that everybody can see what you have posted and that none of your post will be moderated, so please keep it clean guys...
    </p>
</md-whiteframe>
