<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
      <span>Shoutin'</span>
    </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Share" ng-click="go('/upload')">
          <md-icon class="material-icons">cloud_upload</md-icon> &nbsp;Be sharin'
        </md-button>
    </div>
</md-toolbar>
<md-whiteframe class="md-whiteframe-3dp" layout-padding>
  <md-content>
    <md-list>
      <!-- <md-subheader class="md-no-sticky">3 line item</md-subheader> -->
      <md-list-item class="md-3-line" ng-repeat="message in messages" layout-padding>
        <img ng-src="{{message.avatar}}" class="md-avatar" alt="{{message.email}}" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ message.email }}</h3>
          <h4><b>{{ message.title }}</b></h4>
          <p>{{ message.message }}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</md-whiteframe>
