<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
      <span>Paintin'</span>
    </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Share" ng-click="go('/upload')">
            <md-icon class="material-icons">cloud_upload</md-icon> &nbsp;Be sharin'
        </md-button>
    </div>
</md-toolbar>
<md-whiteframe class="md-whiteframe-3dp" layout-padding>
    <md-grid-list
            md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter="8px" md-gutter-gt-sm="4px" >
        <md-grid-tile ng-repeat="tile in vm.tiles"
                      md-rowspan="{{tile.span.row}}"
                      md-colspan="{{tile.span.col}}"
                      md-colspan-sm="1"
                      ng-class="tile.background" >
          <md-icon md-svg-icon="{{tile.icon}}"></md-icon>
          <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
</md-whiteframe>
